In [1]:
import random
import pandas as pd
import numpy as np
import os
import tensorflow as tf
import matplotlib.pyplot as plt
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

path = os.getcwd()
file_path = os.path.join(path,"file")
sub_path = os.path.join(path,"제출")
train_df = pd.read_csv(os.path.join(file_path,"train.csv"))
test_df = pd.read_csv(os.path.join(file_path,"test.csv"))

In [2]:
display(train_df.head())

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg)
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0

In [3]:
#시계열 특성을 학습에 반영하기 위해 timestamp를 월, 일, 시간으로 나눕니다
train_df['year'] = train_df['timestamp'].apply(lambda x : int(x[0:4]))
train_df['month'] = train_df['timestamp'].apply(lambda x : int(x[5:7]))
train_df['day'] = train_df['timestamp'].apply(lambda x : int(x[8:10]))

test_df['year'] = test_df['timestamp'].apply(lambda x : int(x[0:4]))
test_df['month'] = test_df['timestamp'].apply(lambda x : int(x[5:7]))
test_df['day'] = test_df['timestamp'].apply(lambda x : int(x[8:10]))

In [4]:
from pytimekr import pytimekr
import datetime

List_holiday = []
for i in range(5,1551,7):
    List_holiday.append((datetime.datetime(2019, 1, 1)+datetime.timedelta(i)).strftime("%Y-%m-%d"))
    
for i in range(2019,2024):
    List_holiday.extend(pytimekr.holidays(year=i)) #리스트 형태로 반환

for i in range(len(List_holiday)):
    List_holiday[i] = str(List_holiday[i])
np.sort(List_holiday)

array(['2019-01-01', '2019-01-06', '2019-01-13', '2019-01-20',
       '2019-01-27', '2019-02-03', '2019-02-04', '2019-02-05',
       '2019-02-06', '2019-02-10', '2019-02-17', '2019-02-24',
       '2019-03-01', '2019-03-03', '2019-03-10', '2019-03-17',
       '2019-03-24', '2019-03-31', '2019-04-07', '2019-04-14',
       '2019-04-21', '2019-04-28', '2019-05-05', '2019-05-05',
       '2019-05-12', '2019-05-12', '2019-05-19', '2019-05-26',
       '2019-06-02', '2019-06-06', '2019-06-09', '2019-06-16',
       '2019-06-23', '2019-06-30', '2019-07-07', '2019-07-14',
       '2019-07-21', '2019-07-28', '2019-08-04', '2019-08-11',
       '2019-08-15', '2019-08-18', '2019-08-25', '2019-09-01',
       '2019-09-08', '2019-09-12', '2019-09-13', '2019-09-14',
       '2019-09-15', '2019-09-22', '2019-09-29', '2019-10-03',
       '2019-10-06', '2019-10-09', '2019-10-13', '2019-10-20',
       '2019-10-27', '2019-11-03', '2019-11-10', '2019-11-17',
       '2019-11-24', '2019-12-01', '2019-12-08', '2019-12-15',
       '2019-12-22', '2019-12-25', '2019-12-29', '2020-01-01',
       '2020-01-05', '2020-01-12', '2020-01-19', '2020-01-24',
       '2020-01-25', '2020-01-26', '2020-01-26', '2020-02-02',
       '2020-02-09', '2020-02-16', '2020-02-23', '2020-03-01',
       '2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
       '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19',
       '2020-04-26', '2020-04-30', '2020-05-03', '2020-05-05',
       '2020-05-10', '2020-05-17', '2020-05-24', '2020-05-31',
       '2020-06-06', '2020-06-07', '2020-06-14', '2020-06-21',
       '2020-06-28', '2020-07-05', '2020-07-12', '2020-07-19',
       '2020-07-26', '2020-08-02', '2020-08-09', '2020-08-15',
       '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06',
       '2020-09-13', '2020-09-20', '2020-09-27', '2020-09-30',
       '2020-10-01', '2020-10-02', '2020-10-03', '2020-10-04',
       '2020-10-09', '2020-10-11', '2020-10-18', '2020-10-25',
       '2020-11-01', '2020-11-08', '2020-11-15', '2020-11-22',
       '2020-11-29', '2020-12-06', '2020-12-13', '2020-12-20',
       '2020-12-25', '2020-12-27', '2021-01-01', '2021-01-03',
       '2021-01-10', '2021-01-17', '2021-01-24', '2021-01-31',
       '2021-02-07', '2021-02-11', '2021-02-12', '2021-02-13',
       '2021-02-14', '2021-02-21', '2021-02-28', '2021-03-01',
       '2021-03-07', '2021-03-14', '2021-03-21', '2021-03-28',
       '2021-04-04', '2021-04-11', '2021-04-18', '2021-04-25',
       '2021-05-02', '2021-05-05', '2021-05-09', '2021-05-16',
       '2021-05-19', '2021-05-23', '2021-05-30', '2021-06-06',
       '2021-06-06', '2021-06-13', '2021-06-20', '2021-06-27',
       '2021-07-04', '2021-07-11', '2021-07-18', '2021-07-25',
       '2021-08-01', '2021-08-08', '2021-08-15', '2021-08-15',
       '2021-08-22', '2021-08-29', '2021-09-05', '2021-09-12',
       '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22',
       '2021-09-26', '2021-10-03', '2021-10-03', '2021-10-09',
       '2021-10-10', '2021-10-17', '2021-10-24', '2021-10-31',
       '2021-11-07', '2021-11-14', '2021-11-21', '2021-11-28',
       '2021-12-05', '2021-12-12', '2021-12-19', '2021-12-25',
       '2021-12-26', '2022-01-01', '2022-01-02', '2022-01-09',
       '2022-01-16', '2022-01-23', '2022-01-30', '2022-01-31',
       '2022-02-01', '2022-02-02', '2022-02-06', '2022-02-13',
       '2022-02-20', '2022-02-27', '2022-03-01', '2022-03-06',
       '2022-03-13', '2022-03-20', '2022-03-27', '2022-04-03',
       '2022-04-10', '2022-04-17', '2022-04-24', '2022-05-01',
       '2022-05-05', '2022-05-08', '2022-05-08', '2022-05-15',
       '2022-05-22', '2022-05-29', '2022-06-05', '2022-06-06',
       '2022-06-12', '2022-06-19', '2022-06-26', '2022-07-03',
       '2022-07-10', '2022-07-17', '2022-07-24', '2022-07-31',
       '2022-08-07', '2022-08-14', '2022-08-15', '2022-08-21',
       '2022-08-28', '2022-09-04', '2022-09-09', '2022-09-10',
       '2022-09-11', '2022-09-11', '2022-09-18', '2022-09-25',
       '2022-10-02', '2022-10-03', '2022-10-09', '2022-10-09',
       '2022-10-16', '2022-10-23', '2022-10-30', '2022-11-06',
       '2022-11-13', '2022-11-20', '2022-11-27', '2022-12-04',
       '2022-12-11', '2022-12-18', '2022-12-25', '2022-12-25',
       '2023-01-01', '2023-01-01', '2023-01-08', '2023-01-15',
       '2023-01-21', '2023-01-22', '2023-01-22', '2023-01-23',
       '2023-01-29', '2023-02-05', '2023-02-12', '2023-02-19',
       '2023-02-26', '2023-03-01', '2023-03-05', '2023-03-12',
       '2023-03-19', '2023-03-26', '2023-05-05', '2023-05-26',
       '2023-06-06', '2023-08-15', '2023-09-28', '2023-09-29',
       '2023-09-30', '2023-10-03', '2023-10-09', '2023-12-25'],
      dtype='<U10')

In [5]:
train_df.loc[train_df['timestamp'].isin(List_holiday)==True,'Holiday']=0
train_df.loc[train_df['timestamp'].isin(List_holiday)==False,'Holiday']=1
test_df.loc[test_df['timestamp'].isin(List_holiday)==True,'Holiday']=0
test_df.loc[test_df['timestamp'].isin(List_holiday)==False,'Holiday']=1

In [6]:
train_x = train_df.drop(columns=['ID', 'timestamp', 'supply(kg)', 'price(원/kg)'])
train_y = train_df['price(원/kg)']

test_x = test_df.drop(columns=['ID', 'timestamp'])

In [7]:
qual_col = ['item', 'corporation', 'location']

for i in qual_col:
    le = LabelEncoder()
    train_x[i]=le.fit_transform(train_x[i])
    test_x[i]=le.transform(test_x[i]) #test 데이터에 대해서 fit하는 것은 data leakage에 해당합니다

print('Done.')

Done.

In [8]:
# def minmaxscaler(data,Min=[],Max=[]):
#     if len(Min)==0 and len(Max)==0:
#         return (data-np.min(data,axis=0))/(np.max(data,axis=0)-np.min(data,axis=0)), np.min(data,axis=0),np.max(data,axis=0)
#     else:
#         return (data-Min)/(Max-Min)
# def standardscaler(data,Mean=[],Std=[]):
#     if len(Mean)==0 and len(Std)==0:
#         return (data-np.mean(data,axis=0))/np.std(data,axis=0), np.mean(data,axis=0),np.std(data,axis=0)
#     else:
#         return (data - Mean) / Std
# re_train_x,Mean_train,Std_train = standardscaler(train_x)
# re_test_x = standardscaler(test_x,Mean_train,Std_train)

In [9]:
model = XGBRegressor(gamma=0,importance_type='gain',random_state=0, max_depth=100 ,n_estimators=2000)
model.fit(train_x, train_y, eval_metric = 'rmse')

C:\Users\USER\anaconda3\envs\SU\lib\site-packages\xgboost\sklearn.py:835: UserWarning: `eval_metric` in `fit` method is deprecated for better compatibility with scikit-learn, use `eval_metric` in constructor or`set_params` instead.
  warnings.warn(

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0, gpu_id=None, grow_policy=None, importance_type='gain',
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=100, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=2000, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=0, ...)

In [10]:
preds = model.predict(test_x)

In [11]:
print(preds[:30])

[ 3.3873621e+03 -2.4997169e-04  3.5485964e+03  3.5483738e+03
  2.6472339e+03  3.3299998e+03  3.5720002e+03  3.3210000e+03
 -8.5053776e-05  3.6669612e+03  3.5169995e+03  2.6840007e+03
  2.7269990e+03  5.4070015e+03  7.5129980e+03  1.5511273e-03
  4.7115762e+03  4.6730005e+03  5.5779990e+03  5.0939985e+03
  4.7890000e+03  1.0043997e+04 -2.0094674e-05  7.1567568e+03
  7.2070005e+03  6.5899995e+03  6.2490000e+03  5.2389995e+03
  4.3902275e+03  5.8806926e-04]

In [12]:
submission = pd.read_csv(os.path.join(file_path,"sample_submission.csv"))
submission

                   ID  answer
0     TG_A_J_20230304       0
1     TG_A_J_20230305       0
2     TG_A_J_20230306       0
3     TG_A_J_20230307       0
4     TG_A_J_20230308       0
...               ...     ...
1087  RD_F_J_20230327       0
1088  RD_F_J_20230328       0
1089  RD_F_J_20230329       0
1090  RD_F_J_20230330       0
1091  RD_F_J_20230331       0

[1092 rows x 2 columns]

In [13]:
holiday_test = ["20230305","20230312","20230319","20230326"]
submission['answer'] = preds
submission.loc[submission['ID'].str.split("_").str[3].isin(holiday_test),"answer"] = 0
submission

                   ID       answer
0     TG_A_J_20230304  3387.362061
1     TG_A_J_20230305     0.000000
2     TG_A_J_20230306  3548.596436
3     TG_A_J_20230307  3548.373779
4     TG_A_J_20230308  2647.233887
...               ...          ...
1087  RD_F_J_20230327   427.617584
1088  RD_F_J_20230328   439.709076
1089  RD_F_J_20230329   416.610504
1090  RD_F_J_20230330   397.910187
1091  RD_F_J_20230331   402.911163

[1092 rows x 2 columns]

In [14]:
submission.to_csv(os.path.join(sub_path,"baseline_submission13.csv"), index=False)